$c-1: #1d6df3;
$c-2: #34495e;
$c-3: #ffffff;
$c-4: #95a5a6;
$c-5: #9b59b6;

$message-margin: -2.5em -4.1em;
$message-font-size: 0.7em;

.Chat {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.chat-wrap {
  overflow-y: auto;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column-reverse;
}

.chat-input {
  // width: 70%;
  width: 90%;
  float: left;
  font-size: 18px;
  border: none;
  padding: 16px;
  border-radius: 18px;
  margin-top: 10px;
  outline: none;
  background-color: white;
  &:focus {
    outline: none;
    background-color: white;
  }
  &::placeholder {
    font-size: 14px;
    padding-left: 10px;
  }
}

.chat-send {
  width: 20%;
  font-size: 18px;
  border: none;
  padding: 16px;
  border-radius: 18px;
  margin-top: 10px;
  background-color: #00ad9e;
  color: white;
}

.conversation {
  // background: $c-2;
  // border: 0.2em solid $c-2;
  color: $c-3;
  // font-family: 'AktivGrotesk-Medium';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 16px;
  // max-width: 21em;
  // overflow: hidden;

  // width: 100%;
  border-radius: 0.4rem;
  // overflow: scroll;
  // height: calc(100vh - 100px);
  // display: flex;
  // flex-direction: column-reverse;

  .clear {
    clear: both;
    width: 100%;
  }

  .intents-wrapper {
    height: 40px;
    width: 100%;

    ::-webkit-scrollbar-track {
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }
    ::-webkit-scrollbar {
      width: 2px;
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: $c-1;
    }

    .possible-intents {
      // height: 60px;
      display: flex;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;

      margin: 6px 0;
      .intent {
        float: left;
        background-color: $c-3;
        color: black;
        border-radius: 10px 10px 2px;
        border: 2px solid rgb(226, 226, 226);
        padding: 10px;
        margin: 5px;
        font-size: 16px;
      }
    }
  }

  .krm {
    background: $c-1;
    float: left;
    text-align: left;
    border-radius: 2px 10px 10px;
  }

  .luky {
    background: $c-3;
    color: $c-1;
    float: right;
    border-radius: 10px 10px 2px;
    border: 2px solid $c-1;
  }

  .krm,
  .luky {
    padding: 10px 16px;
    clear: both;
    margin: 0.2em 0;
    max-width: 80%;
    min-width: 50%;

    &:hover {
      .message-time {
        opacity: 1;
      }
    }
  }

  .message {
    a {
      color: white;
      font-weight: bold;
      display: block;
    }
  }

  div:last-child {
    // margin-bottom: 0;
  }

  ::selection {
    // background: $c-2;
  }

  ::moz-selection {
    // background: $c-2;
  }
}

.kaushalya {
  bottom: 0.4em;
  color: $c-3;
  position: fixed;
  right: 0.4em;

  a {
    border-bottom: 0.1em solid;
    color: inherit;
    text-decoration: none;
  }
}
