.Chat {
  width: 100vw;
  margin: 0 auto;
}

.chat-wrap {
  overflow: scroll;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column-reverse;
}

.chat-input {
  width: 70%;
  float: left;
  font-size: 18px;
  border: none;
  padding: 16px;
  border-radius: 18px;
  margin-top: 10px;
  outline: none;
  &:focus {
    outline: none;
  }
}

.chat-send {
  width: 20%;
  font-size: 18px;
  border: none;
  padding: 16px;
  border-radius: 18px;
  margin-top: 10px;
  background-color: #00ad9e;
  color: white;
}

$c-1: #3498db;
$c-2: #34495e;
$c-3: #ecf0f1;
$c-4: #95a5a6;
$c-5: #9b59b6;

$message-margin: -2.5em -4.1em;
$message-font-size: 0.7em;

.conversation {
  // background: $c-2;
  // border: 0.2em solid $c-2;
  color: $c-3;
  font-size: 1.3em;
  margin: 2em auto;
  // max-width: 21em;
  // overflow: hidden;

  width: 100%;
  border-radius: 0.4rem;
  // overflow: scroll;
  // height: calc(100vh - 100px);
  // display: flex;
  // flex-direction: column-reverse;

  .clear {
    clear: both;
    width: 100%;
  }

  .possible-intents {
    width: 100%;
    border-top: $c-2 solid 1px;
    margin: 6px 0;
    .intent {
      float: left;
      background-color: $c-2;
      color: white;
      border-radius: 10px;
      border: none;
      padding: 10px 20px;
      margin: 6px;
      font-size: 14px;
    }
  }

  .krm {
    background: $c-1;
    float: left;
    padding: 1em;
    text-align: left;
    border-radius: 0 1em 1em 0;
  }

  .luky {
    background: $c-3;
    color: $c-1;
    float: right;
    padding: 1em;
    border-radius: 1em 0 0 1em;
  }

  .krm,
  .luky {
    clear: both;
    margin: 0.2em 0;
    max-width: 80%;
    min-width: 50%;

    &:hover {
      .message-time {
        opacity: 1;
      }
    }
  }

  div:last-child {
    margin-bottom: 0;
  }

  ::selection {
    // background: $c-2;
  }

  ::moz-selection {
    // background: $c-2;
  }
}

.kaushalya {
  bottom: 0.4em;
  color: $c-3;
  position: fixed;
  right: 0.4em;

  a {
    border-bottom: 0.1em solid;
    color: inherit;
    text-decoration: none;
  }
}
